<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.he.firstandroid2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".mainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".normalActivity"></activity>

        <!-- 让dialogActivity 使用对话框式的主题-->
        <activity
            android:name=".dialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>

    </application>

</manifest>
